<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<p th:text="${'name:' + ': ' + user.getName()}">VALUE</p>
<br/>

<p th:text="${'surname:' + ': ' + user.getSurname()}">VALUE</p>
<br/>

<p th:text="${'age:' + ': ' + user.getAge()}">VALUE</p>
<br/>

<p th:text="${'id:' + ': ' + user.getId()}">VALUE</p>
<br/>

<p th:text="${'username:' + ': ' + user.getUsername()}">VALUE</p>
<br/>

<p th:text="${'role:' + ': ' + user.getRoles()}">VALUE</p>
<br/>

<p th:text="${'password:' + ': ' + user.getPassword()}">VALUE</p>
<br/>

<a th:href="@{admin/editUser/{id}(id=${user.id})}">Edit</a>

<br/>
<br/>

<form th:method="DELETE" th:action="@{admin/delete/{id}(id=${user.id})}">
    <br/>
    <br/>
    <input type="submit" value="Delete"/>
</form>
</body>
</html>